version: '3.8'

services:
  backend:
    build: .
    container_name: patient-screening-app
    ports:
      - "5000:5000"
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    env_file:
      - .env
    environment:
      - PORT=5000
    command: npm run dev
    restart: unless-stopped
    networks:
      - fam-db-network

networks:
  fam-db-network:
    external: true